@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .wave {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}

.container .wave h2 {
    text-transform: uppercase;
    position: absolute;
    line-height: 500px;
    font-size: 80px;
    text-align: center;
}

.container .wave h2:first-child {
    color: transparent;
    /* color: blue; */
    -webkit-text-stroke: 2px blue;
}

.container .wave h2:last-child {
    color: blue;
    animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
    0% {
        clip-path: polygon(0 61%, 9% 65%, 16% 66%, 23% 69%, 29% 70%, 35% 70%, 40% 69%, 44% 64%, 50% 58%, 54% 55%, 61% 52%, 66% 51%, 75% 53%, 82% 54%, 88% 54%, 94% 54%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 50%, 8% 55%, 13% 57%, 16% 58%, 22% 59%, 29% 59%, 42% 57%, 50% 54%, 59% 49%, 68% 45%, 77% 43%, 83% 43%, 96% 46%, 100% 53%, 100% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0 61%, 9% 65%, 16% 66%, 23% 69%, 29% 70%, 35% 70%, 40% 69%, 44% 64%, 50% 58%, 54% 55%, 61% 52%, 66% 51%, 75% 53%, 82% 54%, 88% 54%, 94% 54%, 100% 52%, 100% 100%, 0% 100%);
    }

}